
.sidebar {
  width: 94px;
  height: 1,024px;
  background-color: #ffffff;
  position: fixed;   
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 15px;
}

.logo {
  width: 64px;
  height: 61px;
  object-fit: contain;
  gap: 10px;
}
.dashboardIcon{
  width: 20px;
  height: 20px;
  top: 232
}

.menu {
  position: absolute;
  top: 250px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.menu-item {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item:hover {
  background-color: #e5e7eb;
}

.menu-item.active {
  background-color: #4f46e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  width: 20px;
  height: 20px;
}

.menu-item.active .menu-icon {
  filter: brightness(0) invert(1);
}