/* ===== TOPBAR CONTAINER ===== */
.topbar {
  height: 80px;
  width: 98%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  z-index:1;
}

/* Left placeholder */
.topbar-left {
  width: 150px;   /* Adjust if needed */
}
.search-container {
  width: 420px;
  height: 48px;
  background-color: #f5f6fa;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  box-sizing: border-box;
}
.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  opacity: 0.6;
}
.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #333;
}

.search-input::placeholder {
  color: #9ca3af;
}

/* ===== RIGHT SECTION ===== */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 0px;
}

/* Notification */
.notification {
  position: relative;
  cursor: pointer;
  margin-right: 45px;
}

.notification img {
  width: 22px;
  height: 22px;
  margin-right: 45px;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-right: 50px;
}
.profile-img {
  width: 55px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 50px;
}
.arrow-icon {
  width: 12px;
  height: 12px;
  opacity: 0.7;
  margin-right:20px;
}