.topbar {
  height: 80px;
  width: 98%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #f0f0f0;
  position: fixed;
  z-index: 1;
}

.topbar-left {
  width: 150px;
}

.search-container {
  width: 420px;
  height: 48px;
  background-color: #f5f6fa;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  box-sizing: border-box;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  opacity: 0.6;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #333;
}

.search-input::placeholder {
  color: #9ca3af;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}
.icon-img {
  width: 22px;
  height: 22px;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 30px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.arrow-icon {
  width: 16px;
  opacity: 0.7;
}

.dropdown-menu,
.notification-dropdown {
  position: absolute;
  top: 60px;
  /* right: 0; */
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 90px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
}

.no-notifications {
  color: #555;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.logout-btn {
  width: 100%;
  padding: 10px;
  background: white;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.logout-btn:hover {
  background: #f3f3f3;
}
